[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF
[submodule "fftconvolver"]
	path = fftconvolver
	url = https://github.com/HiFi-LoFi/FFTConvolver
    ignore = dirty
[submodule "audiofile"]
	path = audiofile
	url = https://github.com/adamstark/AudioFile
[submodule "base64"]
	path = base64
	url = https://github.com/joedf/base64.c
    ignore = dirty
